Repository D3strukt0r/wundexpertinplus, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker

Add wordpress docker environment
  .docker/rootfs-local/traefik/etc/traefik/dynamic_conf/conf.yml
  .dockerignore
  .github/workflows/ci-cd.yml
  .vagrant.config.yml.dist
  compose.vm.yml.dist
  web.Dockerfile
  web/.docker/nginx/rootfs-prod/docker-entrypoint.d/40-fix-nginx-template.sh
  web/.docker/nginx/rootfs-prod/etc/nginx/snippets/csp-header.conf
  web/.docker/nginx/rootfs-prod/etc/nginx/snippets/general.conf
  web/.docker/nginx/rootfs-prod/etc/nginx/snippets/security.conf
  web/.docker/nginx/rootfs-prod/etc/nginx/templates/default.conf.template
  web/.docker/nginx/rootfs-prod/etc/nginx/templates/nginx.conf.template
  web/.docker/phpfpm/rootfs-prod/usr/local/bin/docker-entrypoint.sh
  web/.docker/phpfpm/rootfs-prod/usr/local/bin/wp-plugin-install.sh
  web/.docker/phpfpm/rootfs-prod/usr/local/bin/wp-theme-install.sh
Labels: docker

Status path belongs in www config group
  web.Dockerfile
Labels: docker

Add plugins and themes
  compose.vm.yml.dist
  web.Dockerfile
  web/.docker/phpfpm/rootfs-prod/usr/local/bin/wp-plugin-install.sh
  web/.docker/phpfpm/rootfs-prod/usr/local/bin/wp-theme-install.sh
Labels: docker

Fix CSP and missing resources
  web.Dockerfile
  web/.docker/nginx/rootfs-prod/etc/nginx/snippets/csp-header.conf
Labels: docker

Give www-data write access to his home dir
  web.Dockerfile
Labels: docker

Set upload limit to 100M
  .gitattributes
  web.Dockerfile
Labels: docker

chore: fix changelog
  CHANGELOG.md
Labels: documentation

feat(build): dynamically configure site hostname and PWA assets
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/docker.yml
  AGENTS.md
  app/config/web-manifest.ts
  app/root.tsx
  app/vite/plugins/favicon-rasters.ts
  app/vite/plugins/web-manifest.ts
  flake.lock
  flake.nix
  package.json
  pnpm-lock.yaml
  public/CNAME
  public/site.webmanifest
  vite.config.ts
Labels: documentation

feat(build): Create SPA fallback 404.html for static hosts
  app/vite/plugins/spa-fallback.ts
  vite.config.ts
Labels: none

perf(theme): Apply theme and JS classes on to prevent FOUC
  AGENTS.md
  app/assets/brand/plaster-plus.svg
  app/components/ThemeToggle.tsx
  app/hooks/useTheme.ts
  app/root.tsx
  app/styles/_animations.scss
  app/styles/_base.scss
  app/styles/_brand.scss
  app/styles/_mixins.scss
  app/styles/_tokens.scss
  app/styles/sections/_hero.scss
  app/styles/tailwind.css
Labels: documentation

refactor(scripts): Relocate pnpm hash bump script
  .gitattributes
  .github/scripts/bump-pnpm-hash.sh
  .github/workflows/bump-pnpm-hash.yml
  .github/workflows/ci.yml
  eslint.config.ts
Labels: none

feat(theme): Synchronize browser chrome color with app theme
  app/config/web-manifest.ts
  app/hooks/useTheme.ts
  app/root.tsx
Labels: none

refactor(colors): Standardize oklch chroma to percentage syntax
  app/assets/brand/map-marker.svg
  app/assets/brand/plaster-plus.svg
  app/assets/decor/schematic-map.svg
  app/hooks/useTheme.ts
  app/styles/_base.scss
  app/styles/_brand.scss
  app/styles/_tokens.scss
Labels: none

fix(workflows): Use GH_PAT for Dependabot auto-merge to fire downstream workflows
  .github/workflows/dependabot-automerge.yml
Labels: none

fix(a11y): Close no-JS dark cascade gap under prefers-reduced-transparency
  app/styles/_base.scss
Labels: none

chore(deps): Bump dev deps, pnpm, and pnpmDeps hash
  flake.nix
  package.json
  pnpm-lock.yaml
Labels: none

fix(build): Serve site.webmanifest from vite dev server
  app/vite/plugins/web-manifest.ts
Labels: none

fix(theme): Animate dark/light fade via @property-registered color tokens
  app/components/ThemeToggle.tsx
  app/hooks/useTheme.ts
  app/styles/_base.scss
  app/styles/_tokens.scss
Labels: none

refactor(maps): Switch to @vis.gl/react-google-maps
  .grype.yaml
  app/components/MapBox.tsx
  app/lib/google-maps.ts
  package.json
  pnpm-lock.yaml
Labels: none

refactor(styles): Centralise motion + dark-cascade tokens
  AGENTS.md
  app/components/Button.tsx
  app/components/Kontakt.tsx
  app/components/MapBox.tsx
  app/components/Nav.tsx
  app/components/Reveal.tsx
  app/components/ThemeToggle.tsx
  app/styles/_base.scss
  app/styles/_mixins.scss
  app/styles/_nav.scss
  app/styles/_tokens.scss
  app/styles/sections/_map.scss
  app/styles/tailwind.css
Labels: documentation

fix(styles): Make theme crossfade correct at any duration
  AGENTS.md
  app/components/Button.tsx
  app/components/Kontakt.tsx
  app/components/Nav.tsx
  app/components/Reveal.tsx
  app/components/ScrollToTop.tsx
  app/components/SectionTitle.tsx
  app/components/ThemeToggle.tsx
  app/components/UeberMich.tsx
  app/styles/_animations.scss
  app/styles/_base.scss
  app/styles/_brand.scss
  app/styles/_nav.scss
  app/styles/_tokens.scss
  app/styles/sections/_map.scss
  app/styles/tailwind.css
Labels: documentation

chore(assets): Replace existing portrait image with higher quality
  app/assets/Sibylle-Buergi.Luetscher.klein_.jpg
  app/assets/portrait.png
  app/components/Hero.tsx
  app/components/UeberMich.tsx
Labels: none

chore: dependabot should match pnpms default minimumReleaseAge of 24 hours
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

feature:
 - head-branch: ['^feature', 'feature']

release:
  - all:
    - base-branch: 'master'
    - head-branch: ['^release', 'release']

docker:
- changed-files:
  - any-glob-to-any-file:
    - '.docker/**/*'
    - '.dockerignore'
    - 'web.Dockerfile'
    - 'compose.build.yml'
    - 'compose.vm.yml.dist'
